@model biblio.Models.libro

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>libro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Nombre autor</label>
            <div class="col-md-10">
                @Html.DropDownList("idautor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idautor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Titulo libro</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulolibro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titulolibro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Editorial</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.editorial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.editorial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Pais</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Año</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.año, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.año, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Paginas</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.npag, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.npag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Existencia</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.existencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.existencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Fecha ingreso</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaingreso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaingreso, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <p>
            <input type="submit" value="Guardar" class="btn btn-default" />
            @Html.ActionLink("Regresar a la Lista", "Index")
        </p>
                
            
        
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
